@model The_Archivist.Models.Archive

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Archive</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.archiveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.archiveType.typeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.department.depName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageSrc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageSrc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fileSrc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fileSrc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.addDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.addDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publishDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publishDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client.clientName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
