@model The_Archivist.Models.Archive

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Archive</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.archiveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.archiveType.typeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.department.depName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageSrc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageSrc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fileSrc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fileSrc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.addDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.addDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publishDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publishDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client.clientName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
